
.dropdown-panel{
	position: absolute;
	top: 50px;
	left: 100px;
	
	width: 400px;
	height: 300px;
	border:1px solid #7d262f;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size: 14px;
    line-height: 1.42857143;
    
    z-index: 4;
}

.dropdown-panel i.fa{
	width: 16px;
	height: 16px;
	
	cursor: pointer;
}

.dropdown-panel input[type=checkbox]{
	width: 20px;
	height: 20px;
	
	position: relative;
	top: 6px;
	
	cursor: pointer;
}

.toolbar {
	border-bottom: 1px dotted #777;
	padding: 2px 0;
	
	height: 35px;
	
}

.toolbar input[type=text]{
	line-height: normal;
	
	height: 25px;
  	border: 1px solid #ccc;
  	
  	padding-left: 3px;
  	outline:none;
  	line-height:25px\9;
  	_line-height:26px;
}

.toolbar .toolbar-item{
	float: left;
	line-height: 35px;
	position: relative;
	margin-right: 5px;
	padding: 0 3px;
}

.toolbar .toolbar-item .fa-refresh:HOVER{
	color: #3232d8;
}

.toolbar .toolbar-item label{
	padding: 0 3px;
	
	cursor: pointer;
}

.toolbar .toolbar-right{
	float: right;
	margin-right: 0;
}
.toolbar .toolbar-right i.fa-search{
	position: absolute;
	
	top: 10px;
	right: 6px;
	color: #999;
}

.list-data{
	height:260px;
	float: left;
    width: 100%;
	overflow-y:scroll;
	overflow-x:hidden;
}

.list-data li{
	line-height: 25px;
	
	cursor: pointer;
}

.list-data li a{
	text-decoration: none;
	color: #333;
	
	display: block;
	
	padding: 2px 10px;
}

.list-data li.selected{
	background-color: #999;	
}

.list-data li a.hover,
.list-data li a:HOVER{
	background-color: pink;
}

.list-data li.selected a.hover,
.list-data li.selected a:hover{
	background-color: #79F2F2 !important;
}


.list-data li a i{
	position:relative;
	display: inline-block;
	margin-left: 3px;
}

.list-data li  a .rownum{
	width:30px;
	display: inline-block;
	padding: 2px 0;
	text-align: center;
}

.list-data li  a .text{
	display: inline-block;
	padding: 2px 0 ;
}
