<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

    <link rel="stylesheet" href="../assert/normalize-4.11.css" />
    <link rel="stylesheet" href="../assert/font-awesome.min.css" />
    <link rel="stylesheet" href="../assert/appbase.css" />
    
    <style type="text/css">
     .floatdiv{
      float: left;
      height: 30px;
     }
     .rightfloat{
      float: right;
      height: inherit;
     }
    </style>
  </head> 
  <body class="full-window">
    <div class="page-wrap fit">
      <div class="floatdiv">
        <div class="rightfloat"></div>
      </div>
    </div>
    <script type="text/javascript" src="../assert/jquery.1.9.1.min.js"></script>
    <script type="text/javascript" src="../assert/reset.js"></script>
    <script type="text/javascript" src="../assert/appbase.js"></script>
  </body>
</html>